@font-face {
    font-family: 'AC Line';
    src: url('../fonts/ACLine.eot');
    src: url('../fonts/ACLine.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ACLine.woff2') format('woff2'),
        url('../fonts/ACLine.woff') format('woff'),
        url('../fonts/ACLine.ttf') format('truetype'),
        url('../fonts/ACLine.svg#ACLine') format('svg');
    font-weight: normal;
    font-style: normal;
}

